<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>
          <%= @response.display_name %>
        </h3>
      </div>

      <div class="panel-body">
        Completed
        <%= @response.question_responses_count %>
        of
        <%= Question.count %>
        questions
      </div>
    </div>

    <hr>

    <% @creative_qualities.each do |creative_quality| %>
      <h4 class="text-<%= creative_quality.color %>">
        <%= creative_quality.name %> -
        <%= @response.norm_by_creative_quality(creative_quality) %>
      </h4>
      <ul>
        <li>
          Raw score:
          <%= @response.scores_by_creative_quality(creative_quality).reduce(0, :+) %>
        </li>
        <li>
          Min score: <%= @response.min_by_creative_quality(creative_quality) %>
        </li>
        <li>
          Max score: <%= @response.max_by_creative_quality(creative_quality) %>
        </li>
      </ul>

    <% end %>

    <% @response.question_responses.each do |question_response| %>
      <%= render 'questions/header', question: question_response.question %>

      <table class="table table-bordered">
        <% question_response.question.choices.each do |question_choice| %>
          <tr>
            <td>
              <% if question_choice == question_response.question_choice %>
                <strong>
                  <%= question_choice.text %>
                </strong><br />
                <% color = question_choice.score >= 0 ? "success" : "danger" %>
                <span class="text-<%= color %>">
                  <%= question_choice.creative_quality.name %>
                  <%= question_choice.score %>
                </span>
              <% else %>
                <span class="text-muted">
                  <%= question_choice.text %><br />
                </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
