@import "bootstrap-sprockets";
@import "bootswatch/flatly/variables";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "bootswatch/flatly/bootswatch";

.bg-success {
  background-color: #18BC9C !important;
}

.bg-info {
  background-color: #3498DB !important;
}

.bg-warning {
  background-color: #F39C12 !important;
}

.bg-danger {
  background-color: #E74C3C !important;
}


