<div class="row">
  <div class="col-md-12">
    <h2>
      Creative Qualities
    </h2>

    <div class="row">
      <%= @creative_qualities.find_each do |creative_quality| %>
        <div class="col-md-4">
          <div class="panel panel-<%= creative_quality.color %>">
            <div class="panel-heading">
              <%= creative_quality.name %>
            </div>

            <div class="panel-body">
              <p>
                <%= creative_quality.description %>
              </p>

              <hr>

              <%
                total = @responses.map {|response| response.norm_by_creative_quality(
                  creative_quality)}.reduce(0, :+)
                avg = (total / Response.count.to_f).round
              %>
              <div class="progress">
                <div class="progress-bar bg-<%= creative_quality.color %>" role="progressbar"
                  style="width: <%= avg %>%"
                  aria-valuenow="<%= avg %>" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
              <p>
                <strong>Your Score: <%= avg %></strong>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
